doctype html

//- /------------------------------------------------------------------------------\
//- | Copyright (C) 2012-2013 Leap Motion, Inc. All rights reserved.               |
//- | Leap Motion proprietary and confidential. Not for distribution.              |
//- | Use subject to the terms of the Leap Motion SDK Agreement available at       |
//- | https://developer.leapmotion.com/sdk_agreement, or another agreement         |
//- | between Leap Motion and you, your company or other organization.             |
//- \------------------------------------------------------------------------------/

html
head
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  title Touch Every Screen
  script(data-main="scripts/main" src="scripts/require.js")
  link(rel='stylesheet', href='style.css')

body
  h1 Touch Every Screen
  canvas(id="myCanvas" width="1000" height="400")
      

  div( id="main")
    button(id="touch-top-left") Touching top left
    button(id="touch-top-right") Touching top right
    button(id="touch-bottom-left") Touching bottom left
    button(id="touch-bottom-right") Touching bottom right
    p
    button(id="create-plane") create plane
    p
    button( id="pause", onclick="togglePause()") Pause
    input(type="checkbox" id="pauseOnGesture", onclick="pauseForGestures()" value="Pause on gesture")
    h3 Frame data
    div(id="frameData")
    div(style="clear:both;")
    h3 Hand data:
    div(id="handData")
    div(style="clear:both;")
    h3 Finger and tool data:
    div(id="pointableData")
    div(style="clear:both;")
    h3 Gesture data:
    div(id="gestureData")
